<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.7.0" targetFramework="win81" userInstalled="true" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="win81" userInstalled="true" />
  <package id="System.Numerics.Vectors" version="4.0.0" targetFramework="win81" userInstalled="true" />
</packages>